nav {
    background-color: rgb(52, 73, 94);
    color: rgb(221, 221, 221);
    position: fixed;
    width: 60px;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.nav_logo {
    background-color: rgb(52, 152, 219);
    display: block;
    width: 60px;
    height: 64px;
    padding-top: 15px;
}

.nav_logo img {
    height: 32px;
    width: 22.08px;
}

.nav_app {
    margin-top: 5px;
}

.nav_app a {
    color: rgb(221, 221, 221);
    font-size: 14px;
}

.nav_icon {
    width: 10px;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.nav_icon1 {
    width: 10px;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.nav_element a {
    padding-top: 20px;
    display: inline-block;
    color: rgb(221, 221, 221);
    font-size: 14px;
}

.header {
    width: 1260px;
    height: 64px;
    /* background-color: purple; */
    margin-left: 60px;
    line-height: 64px;
}

.header_l {
    float: left;
}

.header_l img {
    margin-left: 150px;
    width: 100px;
    height: 48px;
}

.header_mid {
    float: left;
    margin-left: 30px;
    font-size: 18px;
    font-weight: 400;
}

.header_mid a {
    margin-left: 20px;
}

.header_r {
    float: right;
}

.header_r input {
    border: 1px solid grey;
    border-radius: 5px;
    padding-left: 10px;
    margin-right: 5px;
}

.header_r a {
    margin-left: 10px;
}

.header_r img {
    margin-left: 10px;
}

footer {
    background-color: rgb(51, 51, 51);
    height: 200px;
    width: 100%
        /* overflow: hidden; */
}

.footer_logo {
    margin-left: 200px;
    width: 40px;
    height: 60px;
    float: left;
    margin-top: 70px;
    margin-right: 10px;
}

.footer_div1 {
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding-top: 68px;
    float: left;
}

.footer_div1 img {
    float: left;
    margin-left: 150px;
    width: 70px;
}

.footer_div1_1 {
    float: left;
}

.footer_div2 {
    float: right;
    font-size: 20px;
    margin-right: 220px;
    text-align: right;
    font-weight: 200;
    color: white;
}

.footer_div2 a {
    color: white;
}